* {
    margin: auto;
    background-color: darkslategray;
    color: white;
    font-family: "Arial Rounded MT Bold";
}
body {
    margin-left: 4%;
    margin-right: 4%;
}
img {
    width: 150px;
}
#nav {
    margin: auto;
    width: 50%;
    font-size: large;
}
.nav-container {
    padding: 0;
    text-align: center;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
#bio {
    border-radius: 4%;
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    margin: 0 5px 5px;
    padding: 0 5px 5px;
    display: inline-block;
}
.hov :hover {
    margin: auto;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.6);
    border-radius: 20px;
}